{% extends 'base.html.twig' %}

{% block body %}
<h1>Time Now</h1>

    <img src="{{ asset('logoiut_fc.png') }}" alt="">

<p>Nous somme le {{ date|date('d/m/Y H:i') }}</p>
<p>Nous somme le {{ date|format_datetime('long', 'short', locale='fr') }}</p>
{% endblock %}
